{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Pagina Inicial</title>
{% endblock %}


{% block cabeçalho %}
{% endblock %}


{{% block conteudo_principal %}

<!-- Receipe Slider -->

<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5 ">
                    <h1>Olá {{ user.username }}</h1>
                </div>
            </div>
        </div>
    </div>
 </div>


<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            {% if user.perfil.nome_completo %}
            <h2>Bem vindo ao Album!</h2>
            {% else %}
            Você pode completar o seu cadastro. Acesse os <a href="{% url 'atualizar-dados' %}">meus dados</a> para atualizar.
            {% endif %}
        </div>
    </div>
</div>

<!-- Receipe Content Area -->

    <div class="receipe-content-area">
        <div class="container">
            <div class="row">
                {% for postagem in object_list %}
                <div class="col-12 mt-5 col-md-8">
                    <div class="receipe-headline my-5">
                        <h3>{{postagem.titulo}}</h3>
                        <img src="{{ postagem.foto_postagem.url }}" alt="">
                        <p> {{ postagem.data_postagem }} </p>
                        <p class="mt-3">{{ postagem.descricao }}</p>

                    </div>
                        <a href="{% url 'editar-post' postagem.pk %}" class="btn btn-warning btn-sm" title="Editar">
                            Editar
                        </a>
                        <a href="{% url 'excluir-post' postagem.pk %}" class="btn btn-danger btn-sm" title="Editar">
                            Excluir
                        </a>
                    </div>
                {% empty %}
                <div class="col-12 mt-5 col-md-8">
                    <div class="receipe-headline my-5">
                        <h3>Você não tem postagem</h3>
                        <p>Não fique de fora, poste agora!</p>
                        <a href="{% url 'add-post' %}" class="btn btn-primary my-2">Add Postagem</a>
                    </div>            
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



