{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_menu.html' %}

<!-- Receipe Slider -->

<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5 ">
                    <h1>Olá {{ user.username }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 my-2 mx-2">
            {% if user.perfil.nome_completo %}
            <h2>Bem vindo ao Album!</h2>
            
            {% else %}
            Você pode completar o seu cadastro. clique <a href="{% url 'atualizar-dados' %}">aqui</a> para atualizar.
            {% endif %}
        </div>
    </div>
</div>

<!-- Receipe Content Area -->

    <div class="receipe-content-area">
        <div class="container">
            <p><a href="{% url 'add-post' %}" class="btn btn-primary my-2">Add Postagem</a></p>
 
            <div class="row">
                {% for postagem in publicado %}
              
                <div class="col-md-6 my-2" >
                    
                    <div class="receipe-headline my-3 text-center">
                        
                        <h3 class="titulo">{{postagem.titulo}}</h3>
                        <div class="div_img">
                        <img class="img_list_dashboard" src="{{ postagem.foto_postagem.url }}" alt="">
                        </div>
                        <p> {{ postagem.data_postagem }} </p>
                        <p class="mt-3 lead text-left">{{ postagem.descricao }}</p>
                        <div class="text-left">
                            <a href="{% url 'editar-post' postagem.pk %}" class="btn btn-warning btn-sm" title="Editar">
                                Editar
                            </a>
                            <a href="{% url 'excluir-post' postagem.pk %}" class="btn btn-danger btn-sm" title="Editar">
                                Excluir
                            </a>
                        </div>
                    </div>
                </div>
   
                {% endfor %}
            </div>
            
            <div class="row">
                <div class="col-md-6 my-2" >
                    {% for postagem in nao_publicado %}
                    <p class="text-left titulo mt-3 lead"><b>lista de postagens sendo analisadas:</b>
                    
                    <div class="receipe-headline my-3 text-center">
                            
                        <h3>{{postagem.titulo}}</h3>
                        <div class="div_img">
                        <img class="imagem_centralizada" src="{{ postagem.foto_postagem.url }}" alt="">
                        </div>
                        <p> {{ postagem.data_postagem }} </p>
                        <p class="mt-3 lead text-left">{{ postagem.descricao }}</p>
                        <div class="text-left">
                            <a href="{% url 'editar-post' postagem.pk %}" class="btn btn-warning btn-sm" title="Editar">
                                Editar
                            </a>
                            <a href="{% url 'excluir-post' postagem.pk %}" class="btn btn-danger btn-sm" title="Editar">
                                Excluir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

{% include 'partials/_footer.html' %}   
{% endblock %}



