.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #d2d4fb99;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bg-color-menu {
  background-color: #02067d!important;
}

.div_img_list {
  padding: .25rem;
  border-radius: .25rem;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
}

.titulo_img{
  font-family: Copperplate;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.img_postagem{
  max-width: 100%;
  max-height: 800px;
  text-align: center;
}

.div_img{
  text-align: center;
  overflow: hidden;
}

.bg_footer{
  background-color: #bdc0f7;
}

.img_list_dashboard {
  max-width: 100%;
  height: 400px;
}

a:link, a:visited{
	text-decoration: none
}

a:hover { 
	color: inherit;
	}

a{
	color: inherit;
}

.paragrafo_list {
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}