{% extends 'base.html'%}
{% load static %}

{% block content %}

{% include 'partials/_menu.html' %}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            {% if not request.user.is_authenticated %}

            <h1>ESPALHE ESPERANÇA!</h1>
            <p class="lead text-muted">Aqui você pode compartilha a sua melhor foto com o seu melhor texto, Vamos esparramar beleza e sabedoria neste mundo! ;)<p>
            <p class="lead text-muted"></p>Não perca tempo, crie a sua conta!</p>
            <a href="{% url 'cadastro' %}" class="btn btn-primary my-2">Cadastre aqui</a>

            {% else %}

            <h1>Espalhe Esperança {{ user.username }}!</h1>
            <p class="lead text-muted">
                Compartilhe uma linda foto ou <br> 
                a imagem mais fantástica que você já viu.<br>
                E escreva um lindo texto trazendo esperança para todos!
            </p>
            <a href="{% url 'add-post' %}" class="btn btn-primary my-2">Add Postagem</a>
        </div>
            {% endif %}
    </section>  


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for postagem in postagem_list %}

                <div class="col-md-4">
                    <div class="card mb-4 pt-1 shadow-sm">
                        <div class="mx-5">
                        <a href="{% url 'postagem' postagem.id %}"><h2 class="titulo_img">{{ postagem.titulo }}</h2></a>
                        </div>
                        <div class="div_img_list">
                            <a href="{% url 'postagem' postagem.id %}"><img class="imagem_centralizada" src="{{ postagem.foto_postagem.url }}" alt=""></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text paragrafo_list">{{ postagem.descricao }}</p>
                            <small class="text-muted">{{ postagem.usuario }}</small>
                        </div>
                    </div>
                </div>

                {% empty %}

            <p>Nenhum produto registrado</p>

                {% endfor %}


            
            
            
            
            </div>
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                    {% endif %}
                    <span class="page-current">
                        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">>></a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</main>


<!-- ##### Pagination End ##### -->

{% include 'partials/_footer.html' %}


{% endblock %}




 