{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_menu.html' %}

<article class="background_postagem">
    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="titulo_img">{{postagem.titulo}}</h1>
                <figure class="div_img">
                    <img class="imagem_centralizada" src="{{ postagem.foto_postagem.url }}" alt="">
                    <figcaption class="text-center text-muted">{{ postagem.data_postagem }}</figcaption>
                </figure>
            </div>
        </div>
     
        <!-- Receipe Content Area -->
        <div class="col-12 mt-5">
            <div class="receipe-headline mt-5">
                <h2>Descrição:</h2>
                <p class="lead">{{ postagem.descricao }}</p>
            </div>
        </div>
    </div>

    {% include 'partials/_footer.html' %}
</article>



{% endblock %}