{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_menu.html' %}

<article>
    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2>{{postagem.titulo}}</h2>
                <img src="{{ postagem.foto_postagem.url }}" alt="">
            </div>
        </div>
     
        <!-- Receipe Content Area -->
        <div class="col-12 mt-5 col-md-8">
            <div class="receipe-headline my-5">
                <p> {{ postagem.data_postagem }} </p>
                <p class="mt-3">{{ postagem.descricao }}</p>
            </div>
        </div>
    </div>
</article>

{% include 'partials/_footer.html' %}   

{% endblock %}